.inputwrapper, .inputwrapper form{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: bisque;
    flex-direction: column;
}

#formulario{
    display: flex;
    flex-direction: column;
    color:bisque;
    font-size: 30px;
    
}

#formulario textarea{
    width: 600px;
    height: 300px;
    border-radius: 10px;
}
#formulario input{
border-radius: 10px;
width: 500px;
height: 35px;
}

#formulario label{
    margin-top: 50px;
}

#title{
    margin-top: 55px;

}

