.inputwrapper, .inputwrapper form{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: bisque;
    flex-direction: column;
}

#formulario{
    display: flex;
    flex-direction: column;
    color:bisque;
    font-size: 30px;
    
}

#formulario textarea{
    width: 600px;
    height: 300px;
    border-radius: 10px;
}
#formulario input{
border-radius: 10px;
width: 500px;
height: 35px;
}

#formulario label{
    margin-top: 50px;
}

#title{
    margin-top: 55px;

}

@media only screen and (max-width: 1225px) {
    #formulario {
         font-size: 15px;
        /* display: contents; */
    position: relative;
    bottom: 100px
    }


            #title {
                margin-top: 55px;
                margin: 25px;
                position: relative;
                /* bottom: 200px; */
            }
         #formulario textarea {
             width: 300px;
             height: 150px;
             border-radius: 10px;
         }
         #formulario input {
             border-radius: 10px;
             width: 350px;
             height: 35px;
         }
         #formulario label {
             margin-top: 25px;
         }}