* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans',
    sans-serif;
    outline: none;
    }
   @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

   body{
       background-color: #E67E39;
   }
/* Generalidades */

a, a:visited{
    text-decoration: none;
    color: white;
}

input, textarea{
    background-color: rgba(245, 245, 245, 0.438);
    margin-top: 25px;
    font-size: 22px;
   /*  color: black;
    font-weight: bold;
     */
}

input::placeholder{
    color: gray;
    font-size: 22px;
}

button{
    margin-top: 35px;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background-color: #E67E39; 
    color: white;
    font-weight: bold;
    outline: none;
}
button:hover{
    cursor: pointer;
    background-color: #FC6632;
    /*  */
}

.mobile{
    display: none;
}

#insideabout:hover,
.faceplate:hover,
#insideinstitutions:hover,
#insideprojects:hover,
#insideskills:hover,
#insidecontact:hover,
#jokempo:hover,
#quoter:hover,
#tests:hover,
#hex:hover {
    width: 350px;
    height: 350px;
    /* position: absolute; */
}

/*  HEADER STTYLE  */
.headerwrapper {
        height: 250px;
    width: 100%;
    border-bottom: 5px solid rgba(255, 255, 255, 0.472);
    background-color:#FC6632;
    
}

.headerwrapperpages {
    height: 200px;
    width: 100%;
    border-bottom: 5px solid rgba(255, 255, 255, 0.472);
    background-color: #FC6632;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.links>nav {
    display: inline;
}

.links {
    display: flex;
    justify-content: center;
    font-size: 22px;
    padding-top: 10px;
    margin: 0px ;
    text-shadow: 10px 10px 10px rgb(0, 0, 0);
}

#youarehere{
    border-bottom: 5px solid rgba(255, 255, 255, 0.472);
}

.links>nav {
    padding: 10px 15px;
    transition: all 0.5 ease;
    margin: 0px 55px;
}

.links>nav:hover {
    background-color: rgba(255, 255, 255, 0.472);
    border-radius: 10px;

}



/*  FIM DO HEADER STYLE */

/* ARTICLE */

.bodywrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1200px;
    background-color: #E67E39;
    padding-bottom: 40px;
    padding-top: 50px;
}



/* ARTICLE */
/*  FOOTER  */

.footerwrapper{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 300px;
    border-top: 5px solid rgba(255, 255, 255, 0.472);
    background-color: #FC6632;
    padding-top: 25px;
    font-weight: bold;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.472);
    
}

.gmail, .linked, .git{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}


.gmail > a,
.linked > a,
.git > a{
    margin: 15px;
}




@media only screen and (max-width: 1245px) {


    /* OS TRECHOS DE CÓDIGO INTEIRAMENTE COMENTADOS FORAM PASSADOS PARA OS .CSS INDIVIDUAIS */


    .desktop {
        display: none;
    }

    .mobile {
        display: flex;
    }

   
    .headerwrapper{
        height: 50px;
    }

#insideabout:active,
.faceplate:active,
#insideinstitutions:active,
#insideprojects:active,
#insideskills:active,
#insidecontact:active,
#jokempo:active,
#quoter:active,
#tests:active,
#hex:active {
    width: 225px;
    height: 225px;}

    #insideabout:hover,
    .faceplate:hover,
    #insideinstitutions:hover,
    #insideprojects:hover,
    #insideskills:hover,
    #insidecontact:hover,
    #jokempo:hover,
    #quoter:hover,
    #tests:hover,
    #hex:hover {
        width: 200px;
        height: 200px;}

    .links {
        position: relative;
        top: 5px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 12px;
        padding-top: 10px;
        text-shadow: 10px 10px 10px rgb(0, 0, 0);
        background-color: rgba(252, 100, 50, 0.952);
        width: 100%;
        z-index: 2;
        animation-name: menukeyframe;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
            }

            .links nav:last-of-type{
                border: none;
                text-shadow: 5px 5px 5px 5px;
            }

             .menu{
            display: flex;
            justify-content: center;
            color: white;
            cursor: pointer;
            text-shadow: 10px 10px 10px black;
            font-weight: bold;
            margin-top: 5px;
            outline: none;
            }
             .menu > div{
                 display: contents;
             }

             @keyframes menukeyframe {
                 from{ height: 100%;
                opacity: 0;}
                 to{ height: 520%;
                opacity: 1;}

                 
             }

    .links > nav {
        padding: 10px 15px;
        transition: all 0.5 ease;
        font-weight: bold;
        border-bottom: 1px solid rgba(255, 255, 255, 0.267);
        animation-name: menukeyframe;
        animation-duration: 3s;
        animation-fill-mode: forwards;
        
    }
    
    .hide{
        display: none;
        }
    
    .links>nav:active {
        background-color: rgba(255, 255, 255, 0.472);
        border-radius: 10px;}
       
    button:active {
        cursor: pointer;
        background-color: #FC6632;
        /*  */
    }


    /* HOME PAGE */
     .desktop {
         display: none;
     }

     .mobile {
         display: flex;
     }

     .hide {
         display: none;
     }


     .photo {
         height: 150px;
         width: 150px;
         overflow: hidden;
         border-radius: 150px;
         position: relative;
         top: 5px;
         ;
     }

     .nome{
         position: relative;
         bottom: 40px;
     }



     #firstrow {
         margin-top: 5px;
         width: 50%;
         display: grid;
         justify-content: center;
         align-items: center;
         gap: 25px;
     }

     #firstrow>.pages,
     #secondrow>.pages {
         width: 200px;
         height: 200px;

     }



     .faceplate {
         width: 200px;
         height: 200px;
         ;


     }

     #insideabout {
         width: 200px;
         height: 200px;
     }

     #insideinstitutions {
         width: 200px;
         height: 200px;
     }

     #insideprojects {
         width: 200px;
         height: 200px;
     }

     #insideskills {
         width: 200px;
         height: 200px;
     }

     #insidecontact {
         width: 200px;
         height: 200px;
     }
     
    /* HOMEPAGE */
    /* SOBRE MIM */
    .photoabout {
        height: 150px;
        width: 150px;
        margin-top: 15px;
        border: 5px solid rgba(255, 255, 255, 0.472);
        box-sizing: initial;
    }

    .photoabout > img{
        width: 150px;
        height: 150px;
        
    }

    .aboutme {
        color: bisque;
        width: 70%;
        font-size: 18px;
    }

    .aboutmewrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 80%;
        width: 100%;
        text-align: justify;
    }
    
    /* sobre mim */
    /* TRAJETORIA */

   /*      .listwrapper {
            display: grid;
            justify-content: center;
            align-items: center;

        }

        .listas {
            margin: 10px;
            justify-self: start;
            width: 300px;
            height: 250px;
            font-size: 12px;
            border: 4px solid rgba(255, 255, 255, 0.185);
            transition: all 1s ease;
            padding: 20px;
            box-shadow: 2px 1px 1px 1px black;
            color: bisque;
        }

        #labenu {
            margin: auto 15px;
        }

 */

    /* trajetoria*/
    /* skills */

      /* .speech {
          margin-top: 25px;
          width: 90%;
          list-style: inside;
          color: bisque;
          font-size: 15px;
          text-align: center;
      }

      li {
          list-style: inside;
          font-style: bold;
          font-size: 20px;
          color: white
      }

      .hard li:last-of-type {
          font-size: 18px;
      } */

    /* skills */
    /* falecomg */
    
    
    #formulario {
        font-size: 15px;
        /* display: contents; */
        position: relative;
        bottom: 100px
    }
    
    
    #title {
        margin-top: 55px;
        margin: 25px;
        position: relative;
        width: 350px;
        text-align: center;
        /* bottom: 200px; */
    }
    
    #formulario textarea {
        width: 300px;
        height: 150px;
        border-radius: 10px;
    }
    
    #formulario input {
        border-radius: 10px;
        width: 350px;
        height: 35px;
    }
    
    #formulario label {
        margin-top: 25px;
    }
    /* FALE COMIGO */
}









