.wrapper, .title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: bisque;
    flex-direction: column;
    width: 100%;
    margin-bottom: 45px;
}

#specialconf{
    padding-bottom: 222px;
}
    .descproj{
        margin: 10px;
        font-style: bold;
        text-indent: 20px;
        border-radius: 1px 5px 5px 10px;
        width: 320px;
        height: 100px;
        background-color: rgba(0, 0, 0, 0.144);
        
        
    }

    #jokempo{
        background-image: url(../images/jokempo.png) ;
        /* background-size: cover; */
        width: 300px;
        height: 300px;
        transition: all 1s ease
    }

    #quoter {
        background-image: url(../images/quoter.png);
        background-size: cover;
        width: 300px;
        height: 300px;
        transition: all 1s ease;
                
    }

    #tests{
        background-image: url(../images/testimon.png);
        background-size: cover;
        width: 300px;
        height: 300px;
        transition: all 1s ease
    }

    #hex{
        background-image: url(../images/hex.png);
        background-size: cover;
        width: 300px;
        height: 300px;
        transition: all 1s ease
    }