.bodywrapperskills{
    display: flex;
    justify-content: center;
    align-items: center;

    
}
li{
    font-style: bold;
    font-size: 30px;
    color: white

}

p{
    font-style: italic;
    margin: 10px;
}
.speech{
    width: 60%;
    color: bisque;
    font-size: 26px
}
.soft{
    margin: 15px;
    
}

.hard{
    margin-left: 15px;
    margin-top: 35px;
    }

    