*{
    list-style: none;
}

.trajec{
margin: 25px;
height: 100%;
display: flex;
flex-direction: column;
}
.trajec-title{
    color: bisque;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
    font-size: large;
}

.listwrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.listas{
    margin: 50px;
    justify-self: start;
    width: 500px;
    height: 320px;
    font-size: 20px;
    border: 4px solid rgba(255, 255, 255, 0.185);
    transition: all 1s ease;
    padding: 20px;
    box-shadow: 2px 1px 1px 1px black;
    color: bisque;
}

.listas:hover{
    box-shadow: 2px 2px 2px 1px black;
    cursor: pointer;
    width: 550px;
    height: 340px;

    
}

.listas p{
    font-weight: bold;
}
.listas img{
    display: inline;
}


.imgframe{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 25px;
    align-items: center;
}

